/*  your css code */

.hero{
	display:flex;
	justify-content:space-between;
	width:750px;
	align-items:center;
}
img{
	width:400px;
	height:300px;
	object-fit:cover;
	padding:20px;
}
.two{
	font-display:ARINA;
	text-align:center;
	font-size:20px;
}
.btn{
	background-color:red;
	border:2px solid black;
	font-size:15px;
	font-display:thick;
	border-radius:10px;
}